<div class="home-bg">
  <div class="container">
    <div class="row">
      <div class="hero-text col-lg-6 col-sm-12">
        <h1>Insurify</h1>
        <p class="lead">The open digital insurance market</p>
      </div>
    </div>
  </div>
</div>
